/* mulish-regular - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/mulish-v12-latin-regular.woff2") format("woff2"), url("../fonts/mulish-v12-latin-regular.woff") format("woff");
}
/* mulish-300 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/mulish-v12-latin-300.woff2") format("woff2"), url("../fonts/mulish-v12-latin-300.woff") format("woff");
}
/* mulish-500 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/mulish-v12-latin-500.woff2") format("woff2"), url("../fonts/mulish-v12-latin-500.woff") format("woff");
}
/* mulish-600 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/mulish-v12-latin-600.woff2") format("woff2"), url("../fonts/mulish-v12-latin-600.woff") format("woff");
}
/* mulish-700 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/mulish-v12-latin-700.woff2") format("woff2"), url("../fonts/mulish-v12-latin-700.woff") format("woff");
}
/* mulish-italic - latin */
@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/mulish-v12-latin-italic.woff2") format("woff2"), url("../fonts/mulish-v12-latin-italic.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FFF;
  padding: 24px 0;
}
@media (max-width: 768px) {
  .main-header {
    position: static;
    background-color: transparent;
  }
}
.main-header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .main-header .header {
    justify-content: center;
  }
}
.main-header .header #hamburger:checked ~ .nav .nav__list {
  right: 0;
}
.main-header .header #menu, .main-header .header #close {
  position: fixed;
  z-index: 101;
  right: 20px;
  top: 20px;
  font-size: 40px;
  display: none;
  background: #FFF;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .main-header .header #menu {
    display: inline-block;
  }
}
.main-header .header .nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .main-header .header .nav__list {
    gap: 35px;
  }
}
@media (max-width: 768px) {
  .main-header .header .nav__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #FFF;
    height: 100vh;
    width: auto;
    padding: 70px 20px 0 10px;
    transition: 0.6s ease;
  }
}
.main-header .header .nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 18px;
  color: #CD300E;
  transition: 0.5s ease;
  position: relative;
}
.main-header .header .nav__link::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transition: 0.3s transform;
  transform-origin: left;
}
.main-header .header .nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
.main-header .header .nav__link:hover {
  color: black;
}
@media (max-width: 992px) {
  .main-header .header .nav__link {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .main-header .header .nav__link {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .main-header .header .nav__link {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */